.App
{
    text-align: center;
}

.Operation
{
    float: left;
    width: 30%;
    background-color: #00FF00;
    height: 750px;  
}

.Game
{
    float: left;
    width: 70%;
    background-color: #00AAAA;
    height: 750px;
}

.App-logo
{
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header
{
    background-color: #222;
    height: 60px;
    padding: 0px;
    color: white;
}

.App-title
{
    font-size: 1.5em;
}

.App-intro
{
    font-size: large;
}

@keyframes App-logo-spin
{
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
