.App
{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.GamepadArea
{
    float: right;
    width: 50%;
    background-color: rgb(249, 174, 85);
}

.SceneArea
{
    float: left;
    width: 50%;
    background-color: rgb(191, 147, 196);
}

/*
.App-logo
{
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}
*/
/*
.App-header
{
    background-color: #222;
    height: 60px;
    padding: 0px;
    color: white;
}
*/
.App-title
{
    font-size: 1.5em;
}

.App-intro
{
    font-size: large;
}

/*
@keyframes App-logo-spin
{
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
*/
