<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
<head>
	<title>Register</title>
</head>
<body>
 <style type="text/css">
#box {
	height: 400px;
	width: 500px;
	margin-top: -200px;
	margin-left: -250px;
	position: absolute;
	left: 50%;
	top: 50%;
}
</style>
<div id="box"><h1 style="text-align: center; color: blue; font-family: 微软雅黑; font-size: 20pt; font-weight: bold">注册账号</h1>
<form action="/users/register" method='post' style="text-align: center">
	{% csrf_token %}
	<input type="text" name="username" style="width: 200px"><br>
	<input type="text" name="password" style="width: 200px"><br>
	<input type="text" name="phonenumber" style="width: 200px"><br>
	<input type="text" name="email" style="width: 200px"><br>
	<input type="submit" value="注册">
</form>
	<p style="text-align: center; color: red; font-family: 微软雅黑; font-size: 16pt; font-weight: bold">{{result}}</p>
</div>
</body>
</html>